

<div class="container">
  <div class=row id="header">
    <h1><%= @etf.name %></h1>
    <p><%=@etf.objective %></p>
  </div>

    <div class="row" id="tables">
      <% if !@top_holdings.empty? %>
      <div class="col-md-4">
        <h2 align="center">Fund Top 10 Holdings</h2></br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Holding</th>
              <th>Shares</th>
            </tr>
          </thead>
          <tbody>
            <% @top_holdings.each do |holding| %>
            <tr>
              <td><%= holding.name %></td>
              <td><%= holding.amount %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>

      <% if !@sector_allocations.empty? %>
          <div class="col-md-4">
            <h2 align="center">Fund Sector Allocations</h2></br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sector</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% @sector_allocations.each do |sector| %>
                <tr>
                  <td><%= sector.name %></td>
                  <td><%= sector.amount.to_s + " %" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
      <% if !@country_weights.empty? %>
          <div class="col-md-4">
            <h2 align="center">Fund Country Weights</h2>
          </br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sector</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% @country_weights.each do |country_weight| %>
                <tr>
                  <td><%= country_weight.name %></td>
                  <td><%= country_weight.amount.to_s + " %" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
    
  <div class="row" id="charts">
    <div class="col-md-4">
      <%= bar_chart (Hash[@top_holdings.map {|top_holding| [top_holding.name, top_holding.amount]}]), id: "top-holdings-chart",'title': 'Top 10 Holdings', 'height': '368px', chartArea: {left:500,top:0,width:'100%',height:'100%'}%>
    </div>

    <div class="col-md-4">
      <%= pie_chart (Hash[@sector_allocations.map {|sector_allocation| [sector_allocation.name, sector_allocation.amount]}]), id: "sector-allocations-chart", width: "500px", height: "500px" %>
    </div>

    <div class="col-md-4">
      <%= pie_chart (Hash[@country_weights.map {|country_weight| [country_weight.name, country_weight.amount]}]), id: "country-weights-chart", width: "500px", height: "500px" %>
    </div>
  </div>

</div>
