<%= render 'searches/lookup' %>

<div class="container">
  <table class="table table-striped" id="user-searches">
    <thead>
      <th>Ticker Symbol</th>
      <th>Status</th>
      <th>Last Searched</th>
    </thead>
    <tbody>
    <% @user_searches.each do |search| %>
    <tr>
      <% if search.status == "success" %>
        <td><a href=""><%=search.ticker%></a></td>
        <td>Found</td>
        <td><%=search.created_at.strftime("Last searched %m/%d/%y") %>
      <% elsif search.status == "failure"%>
        <td><%=search.ticker%></td>
        <td>Not Found</td>
        <td><%=search.created_at.strftime("Last searched %m/%d/%y") %>
        <%end%>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
